<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{normal/base::layout(~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
  </head>
  <body>
    <section class="mt-5">
      <div class="card mr-4 ml-4">
        <div class="cardBody">
          <div class="text-center mt-5">
            <!-- <h1><i class="fa-solid fa-pen-to-square"></i></i></h1> -->
            <h1>Change Password</h1>
          </div>
          <div class="container col-md-8 offset-md-2 text-center">
					<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
						<th:block th:text="${session.message.content}"></th:block>
					</div>
					<!--<th:block th:text="${#session.removeAttribute('message')}"></th:block>-->
					<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
				</div>
          <form
            th:action="@{/user/changeSetting}"
            method="post"
            onsubmit="return validatePassword()"
          >
            <div class="container-fluid mt-1 mr-6 ml-6">
              <div class="row">
                <div class="col-md-8 offset-md-2">
                  <!-- Current Password Field Field  -->
                  <div class="input-group mt-5">
                    <input
                      type="text"
                      id="oldPassword"
                      name="oldPassword"
                      placeholder="Enter current password here.."
                      class="form-control"
                    />
                  </div>
                  <!-- New Password Field Field  -->
                  <div class="input-group mt-5">
                    <input
                      type="password"
                      id="newPassword"
                      name="newPassword"
                      placeholder="Enter New password here.."
                      class="form-control"
                      oninput="validatePasswordOnInput(this)"
                    />
                    <div id="newPasswordError" class="error-message"></div>
                  </div>
                  <!-- Rewrite New Password Field Field  -->
                  <div class="input-group mt-5">
                    <input
                      type="password"
                      id="confirmPassword"
                      name="confirmPassword"
                      placeholder="Confirm new password here.."
                      class="form-control"
                      oninput="validatePasswordOnInput(this)"
                    />
                    <div id="confirmPasswordError" class="error-message"></div>
                  </div>
                  <div id="passwordMatchMessage" class="password-match-message"></div>
                  <div class="container text-center mt-5">
                    <button type="submit" class="btn btn-primary">
                      Change
                    </button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <script>
        function validatePasswordOnInput(input) {
          var passwordField = input.id;
          var passwordValue = input.value;

          // Regular expression for password validation
          var passwordRegex =
            /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

          var errorMessageId =
            passwordField === "newPassword"
              ? "newPasswordError"
              : "confirmPasswordError";
          var errorMessageElement = document.getElementById(errorMessageId);

          if (!passwordRegex.test(passwordValue)) {
            errorMessageElement.textContent =
              "Password must contain at least 8 characters, including at least one uppercase letter, one lowercase letter, one number, and one special character.";
              errorMessageElement.style.color = "red";
          } else {
            errorMessageElement.textContent = "";
          }

          // Check if passwords match
          var newPassword = document.getElementById("newPassword").value;
          var confirmPassword =
            document.getElementById("confirmPassword").value;

          var passwordMatchMessage = document.getElementById(
            "passwordMatchMessage"
          );

          if (newPassword === confirmPassword) {
            passwordMatchMessage.textContent = "Password match!";
            passwordMatchMessage.style.color = "green";
          } else {
            passwordMatchMessage.textContent = "Password not matched..!";
            passwordMatchMessage.style.color = "red";
          }
        }
      </script>
    </section>
  </body>
</html>
