<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{normal/base::layout(~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DashBoard</title>
  </head>
  <body>
    <section>
      <div id="card" class="container card">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div id="card" class="card">
				<div class="contactiner col-md-8 offset-md-2 text-center">
					<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
						<th:block th:text="${session.message.content}"></th:block>
					</div>
					<!--<th:block th:text="${#session.removeAttribute('message')}"></th:block>-->
					<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
				</div>
				<div class="Welcome mt-1">
					<h1 th:text="'Welcome, ' + ${user.userName}"></h1>
				</div>
              <div class="card-header text-center">
                <img
                  src=""
                  style="width: 45%; margin-bottom: -10%"
                  th:src="@{'/img/logo-white-removebg-preview.png'}"
                  alt="Logo"
                  class="img-fluid"
                />
                <h1 style="color: rgb(148, 148, 148); font-size: 1.8em; margin-bottom: -20px; font-family: cursive;">
                  <em> Empower Your Connections with </em>
                </h1>
                <h1
                  style="
                    color: #3498db;
                    font-size: 3.5em;
                    margin-top: 40px;
                    letter-spacing: 2px;
                    padding: 10px;
                    border: 2px solid #3498db;
                    display: inline-block;
                  "
                >
                  Smart Contact Manager
                </h1>
                <h4
                  style="
                    color: rgb(148, 148, 148);
                    font-size: 1.8em;
                    margin-top: 20px;
                    margin: 0;
                    margin-bottom: 50px;
                    font-family: cursive;
                  "
                >
                  <em> Your Personalized Cloud Contact Storage Solution </em>
                </h4>
              </div>
              <div class="card-header text-center">
                <a th:href="@{/user/addContact}"><button class="btn btn-primary ml-2 rounded" type="button">
					<i class="fa-solid fa-user-plus"> </i> Add Contact
                </button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
