<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />

    <title>Smart Contact Manager - Home</title>
  </head>

  <body>
    <section class="banner">
      <div class="container">
        <div class="about-section text-center">
          <h1 class="mb-4">About Smart Contact Manager</h1>
          <p class="lead">
            Welcome to Smart Contact Manager, where we believe in the power of
            seamless connections and efficient contact management. Our journey
            began with a simple yet compelling vision: to create a platform that
            not only organizes your contacts but also enriches your
            relationships.
          </p>
        </div>

        <div class="mission-section text-center">
          <h2 class="mb-4">Our Mission</h2>
          <p class="lead">
            At the core of Smart Contact Manager is a mission to empower
            individuals and businesses by providing a cutting-edge solution for
            contact storage and management. We understand the importance of
            meaningful connections in both personal and professional spheres,
            and our platform is designed to streamline the way you manage,
            access, and engage with your contacts.
          </p>
        </div>

        <div class="commitment-section text-center">
          <h2 class="mb-4">Our Commitment</h2>
          <p class="lead">
            We are committed to providing an exceptional user experience,
            facilitating meaningful connections, and simplifying the way you
            interact with your contacts. Whether you're an individual looking to
            organize personal contacts or a business seeking efficient customer
            relationship management, Smart Contact Manager is here to elevate
            your contact management experience.
          </p>
        </div>
        <div class="joinus-section text-center">
          <h2 class="mb-4">Join Us on the Journey</h2>
          <p class="lead">
            Thank you for being part of the Smart Contact Manager community. As
            we continue to evolve and enhance our platform, we invite you to
            join us on this exciting journey of empowerment, efficiency, and
            enriched connections.
          </p>
		  <p class="lead">Empower Your Connections with Smart Contact Manager.</p>
        </div>
        </div>
      </div>
    </section>
  </body>
</html>
