<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>Smart Contact Manager - Home</title>
</head>

<body>

	<section class="form-bg">
		<div id="forgot">
			<div class="container text-center">
				<div class="row  justify-content-center align-items-center">
					<div class="col-md-6 mt-5">
						<div class="text-center mt-5 ">
							<h1 style="color: white;"><i class="fa-solid fa-lock"></i></h1>
						</div>
						<h1 class="text-center"><strong>Forgot Password?</strong> </h1>
						<div class="container col-md-8 offset-md-2 text-center">
							<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert"
								role="alert">
								<th:block th:text="${session.message.content}"></th:block>
							</div>
							<!--<th:block th:text="${#session.removeAttribute('message')}"></th:block>-->
							<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
						</div>
						<form id="login-form"  th:action="@{/forgot}" method="post">
							<!-- Email Field -->
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text ">
										<i class="fa-regular fa-envelope"></i>
									</div>
								</div>
								<input type="email" id="email" name="email" placeholder="Enter Your Registered Email here.."
									class="form-control">
							</div>
							<div class="form-group mt-2">
								<button type="submit" name="submit" class="btn btn-warning btn-md"
									value="submit">Send OTP</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>